<header>
    <nav class="navbar">
      <div class="navbar-brand">
        <a href="{{ '/' | relative_url }}">
          <img src="{{ '/images/logo fixed.png' | relative_url }}" alt="Logo">
        </a>
      </div>
      <ul class="navbar-menu">
        <li><a href="{{ '/' | relative_url }}">Home</a></li>
        <li><a href="{{ '/about' | relative_url }}">About</a></li>
        <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
        <!-- Add more navigation links as needed -->
      </ul>
    </nav>
</header>